/* style.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #228B22; /* Зеленый цвет для заголовка */
  padding: 20px;
  text-align: center;
  color: #fff;
}

.header-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px; /* Закругленные углы для изображения */
}

main {
  padding: 20px;
  max-width: 800px; /* Ограничиваем ширину контента */
  margin: 0 auto;
}

section {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px; /* Закругленные углы для секций */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для секций */
}

h2 {
  margin-top: 0;
  color: #228B22; /* Зеленый цвет для заголовков секций */
}

p {
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* Закругленные углы для изображений */
}

.intro-image {
  width: 80%;
  margin: 20px auto;
  transition: transform 0.3s ease;
}

.appearance-image {
  width: 60%;
  height: auto;
  margin: 10px auto;
  transition: transform 0.3s ease;
}

.animation-container {
  position: relative;
  width: 250px;
  height: 150px;
  margin: 20px auto;
  border: 2px solid #228B22; /* Рамка для анимации */
  border-radius: 10px; /* Закругленные углы для рамки */
}

.animation-image {
  width: 100%;
  height: 100%;
}

.animation-image:nth-child(2) {
  display: none; 
}

.facts-list {
  list-style: none;
  padding: 0;
}

.facts-list li {
  margin-bottom: 10px;
  transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
}

/* Анимация при наведении */
.facts-list li:hover {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Анимация для изображений при наведении */
.intro-image:hover {
  transform: scale(1.1);
}

.appearance-image:hover {
  transform: scale(1.1);
}

footer {
  background-color: #228B22;
  color: #fff;
  text-align: center;
  padding: 4px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
